body {
  font-family: Arial, Helvetica, sans-serif;
  background-image: url("https://www.pexels.com/photo/photo-of-mountains-during-sunset-777211/");
  background-size: auto;
  background-position: center;
}

h1 {
  font-size: 24px;
  font-weight: 100;
  line-height: 20px;
  margin-bottom: 5px;
}

ul {
  margin: 0;
  padding: 0;
}

li {
  font-size: 16px;
  font-weight: 100;
  line-height: 1.2;
  list-style: none;
  color: #7c7c7c;
  margin: 0;
  padding: 0;
}

li:first-letter {
  text-transform: capitalize;
}

a {
  text-decoration: none;
}
.weather-app-wrapper {
  max-width: 600px;
  margin: 30px auto;
}

.weather-app {
  border: 1px solid #dadde1;
  border-radius: 10px;
  padding: 20px;
  background-color: #dde4e7;
}

.overview {
  margin-bottom: 20px;
}

.weather-temperature img {
  margin-right: 10px;
  height: 68px;
  width: 68px;
}

.weather-temperature strong {
  color: rgb(33, 33, 33);
  font-size: 64px;
  line-height: 1;
  font-weight: 400;
}

.weather-temperature .units {
  position: relative;
  font-size: 16px;
  margin-top: 4px;
}

.weather-forecast {
  margin-top: 20px;
  text-align: center;
  color: #000;
}

.weather-forecast-date {
  font-size: 16px;
  opacity: 0.5;
}
.weather-forecast-temperature-min {
  opacity: 0.5;
}
.weather-forecast-temperature {
  font-size: 13px;
}
